@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #8464EA;
    --secondary-Color: #2DD675;
    --text-Color: #273044;
    --alert-Color: #0099ff;
    --success-Color: #39CABD;
    --warning-Color: #ee8800;
    --error-Color: #fe514c;
    --grey-Color: #7A7A7A;
    --black-Color: #001931;
    --main-Background-Color: #F2F6FB;
    --secondary-Background-Color: ;
    --white-Color: #fff;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 13px 30px;
    --button-border-radius: 5px;
    --button-font-weight: 500;
    --heading:60px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 40px 6px;
    --section-padding:30px 0px;
}
.fdb-block {
    padding: 0rem 0;
}

/*headerh222fa673a781ab9e*/
.headerh222fa673a781ab9e .navbar-light .navbar-nav .active>.nav-link,
.headerh222fa673a781ab9e .navbar-light .navbar-nav .nav-link {
    color: var(--black-Color);
}
.headerh222fa673a781ab9e .navbar-light .navbar-nav .active>.nav-link:hover,
.headerh222fa673a781ab9e .navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-Color);
}
.headerh222fa673a781ab9e .image-custom-class{
    max-height: 60px !important;
    border-radius: var(--logo-border-radius);
}
.headerh222fa673a781ab9e .fa {
    display: none;
}

/*aboutd1e3f52aae36e7047*/
.aboutd1e3f52aae36e7047 .DescriptionHeading {
    font-size: var(--heading);
}
.aboutd1e3f52aae36e7047 .DescriptionPara{
    font-size: var(--paragraph);
    color: var(--grey-Color);
}
.aboutd1e3f52aae36e7047 .btn-outline-secondary,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:hover {
    color: var(--black-Color);
    border-color: var(--secondary-Color);
    background-color: var(--secondary-Color);
}
.aboutd1e3f52aae36e7047 .text-secondary{
    font-size: var(--paragraph);
}
.aboutd1e3f52aae36e7047 .jumbotron{
    padding: var(--jumbotron-padding);
}
/*freyategxpfzk1ni*/
.freyategxpfzk1ni{
    padding: var(--section-padding);
}
.freyategxpfzk1ni .fdb-block {
    padding: 0px;
}

.freyategxpfzk1ni .fdb-block img+h2 {
    margin-top: 10px;
    font-size: var(--heading-medium);
}
.freyategxpfzk1ni .fdb-block p {
    font-size: var(--paragraph);
}
/*sliders1fae57451461b568*/
.sliders1fae57451461b568 {
    padding: var(--section-padding);
}

.sliders1fae57451461b568 h3 {
    font-size: var(--heading-large);
    font-weight: 400;
}

.sliders1fae57451461b568 .btnStyle {
    background-color: var(--secondary-Color);
}

.sliders1fae57451461b568 .icon {
    color: var(--black-Color);
}

.sliders1fae57451461b568 .text-success {
    color: var(--secondary-Color) !important;
}
.sliders1fae57451461b568 .card-text{
    margin-left: -20px;
    font-size: var(--paragraph);
}
.sliders1fae57451461b568 .card img{
    margin-left: 0px;
}
.sliders1fae57451461b568 .pb-5,
.sliders1fae57451461b568 .pt-5{
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
}
/*testimonialtmrwms6esfu*/
.testimonialtmrwms6esfu{
    padding: var(--section-padding);
}
.testimonialtmrwms6esfu .fdb-block {
    padding: 0px;
}
.testimonialtmrwms6esfu .fdb-block .fdb-touch {
    border-top: solid 0.3125rem rem var(--warning-Color)
}
.testimonialtmrwms6esfu .fdb-block .fdb-box {
    padding: 2.75rem 2.5rem;
}
.testimonialtmrwms6esfu .h5{
    font-size: var(--paragraph);
}
/*bannerd1342044aebb0112*/
.bannerd1342044aebb0112{
    padding: var(--section-padding);
}
.bannerd1342044aebb0112 .bannerBG {
    background: var(--white-Color);
}
.bannerd1342044aebb0112 h2 {
    font-size: var(--heading-large);
}
.bannerd1342044aebb0112 p {
    font-size: var(--paragraph);
}
/*teamtmpxpt1wbh8*/
.testimonialtmrwms6esfu{
    padding: var(--section-padding);
}
.teamtmpxpt1wbh8 .fdb-block {
    padding: 0rem 0
}
.teamtmpxpt1wbh8 h1 {
    font-size: var(--heading-large);
}
.teamtmpxpt1wbh8 .lead{
    display: none;
}
.teamtmpxpt1wbh8 h4 {
    font-size: var(--paragraph);
    font-weight: var(--button-font-weight);
}
.teamtmpxpt1wbh8 .content{
    margin-left: -15px;
}
/*formb82afc6a8fccd8a0*/
.formb82afc6a8fccd8a0{
    padding: var(--section-padding);
}
.formb82afc6a8fccd8a0 .fdb-block {
    padding: 0px;
}
.formb82afc6a8fccd8a0 h1 {
    font-size: var(--heading-large);
}
.formb82afc6a8fccd8a0 .btn-primary,
.formb82afc6a8fccd8a0 .btn-primary:hover,
.formb82afc6a8fccd8a0 .btn-primary:not(:disabled):not(.disabled):active {
    color: var(--black-Color);
    background-color: var(--secondary-Color);
    border-color: var(--secondary-Color)
}
.formb82afc6a8fccd8a0 a,
.formb82afc6a8fccd8a0 a:hover{
    color: #8464EA;
}
.formb82afc6a8fccd8a0 .h4 {
    font-size: 18px;
}
/*footerbf5e57dc82a907a3*/
.footerbf5e57dc82a907a3 .BG {
    background-color: var(--text-Color);
}
.footerbf5e57dc82a907a3 .font-weight-bold {
    font-weight: 400 !important;
}
.footerbf5e57dc82a907a3 h6 {
    font-size: var(--paragraph);
}
.footerbf5e57dc82a907a3 .fonts{
    font-size: var(--paragraph);
}
.footerbf5e57dc82a907a3 .fab {
    margin-left: 40px;
}
.footerbf5e57dc82a907a3 .mb-5{
    margin-bottom: 1rem !important;
}