@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.fdb-block {
    padding: 30px 0;
}

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #8464EA;
    --secondary-Color: #2DD675;
    --text-Color: #273044;
    --alert-Color: #0099ff;
    --success-Color: #39CABD;
    --warning-Color: #ee8800;
    --error-Color: #fe514c;
    --grey-Color: #7A7A7A;
    --black-Color: #001931;
    --main-Background-Color: #F2F6FB;
    --secondary-Background-Color: ;
    --white-Color: #fff;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 13px 30px;
    --button-border-radius: 5px;
    --button-font-weight: 500;
    --heading: 35px;
    --heading-two: 25px;
}

.headerh222fa673a781ab9e .navbar-light .navbar-nav .active>.nav-link{
    color: #001931;
}
.headerh222fa673a781ab9e .fa{
    display: none;
}

.aboutd1e3f52aae36e7047 .btn-outline-secondary{
    
}























































